.header {
  outline: 1px solid red;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}
.container {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
.logo {
  font-family: Roboto sans-serif;
}
.nav {
  display: flex;
}
.menu {
  display: flex;
  column-gap: 10px;
}
.menu-contact {
  display: flex;
  column-gap: 20px;
}
